@font-face {
	font-family: acid_medium;
	src: url('font/acid_medium.otf');
}
@font-face {
	font-family: acid_bold;
	src: url('font/acid_bold.otf');
}
@font-face {
	font-family: acid_italic;
	src: url('font/acid_italic.otf');
}
@font-face {
	font-family: acid;
	src: url('font/acid.otf');
}
/** Header *********************/

.header {
	height: 20%; 
	margin-top: 10px;
}

h1 {
	font-family: "acid_bold";
	padding-left: 5px;
	padding-bottom: 5px	;
}

.info {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.8em;
	font-family: "acid_italic";
	margin-top: 10px;
}

.navigation-links a {
	text-decoration: none;
	color: yellow;
}

.navigation-links a:hover {
	color: pink;
}



.main-content {
	width: 40%;
	height: 70%;
	position: fixed;
	left: 50%;
	margin-left: -20%;
	overflow: hidden;
}

html, body {
	padding: 0px;
	margin: 0px;
	background-color: #311b92;
}
#canvas-wrapper {
	position: fixed;
	width: 100%; 
	height: 300;
	bottom: 0px;
	z-index: -1;
}
div {
	color: #FFCC00;
}
.navigation-links {
	height: 10px;
	position: absolute;
	bottom: 10px;
	font-family: 'acid_medium';
}
.nav-link {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	bottom: 20px;
}

/*** CONTENT SLIDER ***/ 
.main-content-content {
	width: 100%;
	height: 75%;
	overflow-y: scroll;
	font-family: "acid";
}
.main-content-content:before {
	content:'';
    width:100%;
    height:50%;    
    position: absolute;
    left:0;
    bottom:0;
}
.slide {
	padding: 10px;
}
/** Scroll Bar styling ******************/ 

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}